<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mylayout}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<th:block layout:fragment="script">

    <script th:inline="javascript">
      function setThumbnail(event) {
        for (var image of event.target.files) {
          var reader = new FileReader();

          reader.onload = function(event) {
            var img = document.createElement("img");
            img.setAttribute("src", event.target.result);
            img.setAttribute("style","width:150px;height:150px;margin-top:30px;margin-left:20px;");
            document.querySelector("div#image_container").appendChild(img);
           };

          console.log(image);
          reader.readAsDataURL(image);
        }
      }


 </script>
</th:block>


<div class="content" layout:fragment="content">

    <form role="form" method="post" enctype="multipart/form-data" th:object="${productFormDto}">
        <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h4>상품 등록</h4>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li>
                                        <button type="reset"
                                                class="btn btn-light me-1 mb-1">취소</button>
                                    </li>
                                    <li>
                                        <button style="margin-left:5px" type="submit"
                                                class="btn btn-primary me-1 mb-1">저장</button>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>

                <!-- Basic Horizontal form layout section start -->
                <section id="basic-horizontal-layouts">
                    <div class="row match-height">
                        <div class="col-md-7 col-12">
                            <div style="" class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <h4 class="card-title">이미지</h4>
                                       <div th:each="num: ${#numbers.sequence(1,3)}">
                                           <input class="form-control form-control-sm"  id="image" accept="image/*" onchange="setThumbnail(event);" type="file" multiple>
                                       </div>
<!--                                       <input class="form-control form-control-sm"  id="image" accept="image/*" onchange="setThumbnail(event);" type="file" multiple>-->
<!--                                        id="formFileSm"-->
                                        <div id="image_container"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">상품 기본 정보</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form form-horizontal">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>상품명 : </label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="form-group has-icon-left">
                                                            <div class="position-relative">
                                                                <input type="text" class="form-control">
                                                                <div class="form-control-icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag" viewBox="0 0 16 16">
                                                                        <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"/>
                                                                        <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"/>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>가격 : </label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="form-group has-icon-left">
                                                            <div class="position-relative">
                                                                <input type="number" class="form-control">
                                                                <div class="form-control-icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                                                                        <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
                                                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                                        <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>적립 포인트 : </label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="form-group has-icon-left">
                                                            <div class="position-relative">
                                                                <input type="number" class="form-control">
                                                                <div class="form-control-icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-p-circle" viewBox="0 0 16 16">
                                                                        <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM5.5 4.002h2.962C10.045 4.002 11 5.104 11 6.586c0 1.494-.967 2.578-2.55 2.578H6.784V12H5.5V4.002Zm2.77 4.072c.893 0 1.419-.545 1.419-1.488s-.526-1.482-1.42-1.482H6.778v2.97H8.27Z"/>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- // Basic Horizontal form layout section end -->

                <!-- // Basic multiple Column Form section start -->
                <section id="multiple-column-form">
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">구매 기간</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                공동구매 시작날짜
                                            </div>
                                            <div class="col-md-6">
                                                공동구매 마감날짜
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- // Basic multiple Column Form section end -->

            <!-- 카테고리 -->
            <section class="basic-choices">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <h4 class="card-title">카테고리</h4>
                                    <div style="margin-top:30px;" class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-group">
                                                <select th:field="*{productStatus}" class="choices form-select">
                                                    <option value="PROCESSED_FOOD">가공식품</option>
                                                    <option value="FRESH_FOOD">신선식품</option>
                                                    <option value="KITCHEN">주방용품</option>
                                                    <option value="CLEANING">청소용품</option>
                                                    <option value="LIFE">생활용품</option>
                                                    <option value="DISPASABLE">일회용품</option>
                                                    <option value="SMALL_APPLIANCES">소형가전제품</option>
                                                    <option value="QUASI_DRUGS">의약외품</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <!-- Basic choices end -->


    <!-- 옵션 -->
    <section class="basic-choices">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="card-title">옵션</h4>
                                    <div style="margin-top:30px;" class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-group">
                                                <select th:field="*{productStatus}" class="choices form-select">
                                                    <option value="PROCESSED_FOOD">가공식품</option>
                                                    <option value="FRESH_FOOD">신선식품</option>
                                                    <option value="KITCHEN">주방용품</option>
                                                    <option value="CLEANING">청소용품</option>
                                                    <option value="LIFE">생활용품</option>
                                                    <option value="DISPASABLE">일회용품</option>
                                                    <option value="SMALL_APPLIANCES">소형가전제품</option>
                                                    <option value="QUASI_DRUGS">의약외품</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="card-title">옵션 디테일</h4>
                                    <div style="margin-top:30px;" class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-group">
                                                <select th:field="*{productStatus}" class="choices form-select">
                                                    <option value="PROCESSED_FOOD">가공식품</option>
                                                    <option value="FRESH_FOOD">신선식품</option>
                                                    <option value="KITCHEN">주방용품</option>
                                                    <option value="CLEANING">청소용품</option>
                                                    <option value="LIFE">생활용품</option>
                                                    <option value="DISPASABLE">일회용품</option>
                                                    <option value="SMALL_APPLIANCES">소형가전제품</option>
                                                    <option value="QUASI_DRUGS">의약외품</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>





            <!-- Basic choices end -->

                <section class="basic-choices">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <h4 class="card-title">상세 설명</h4>

                                        <div style="margin-top:20px;" class="form-group mb-3">
                                            <textarea class="form-control" id="exampleFormControlTextarea1"
                                                      rows="5"></textarea>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            </section>
        </div>
        </form>
    </div>
</html>