<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />
    <title>슬기로운 1인생활</title>

    <!-- CSS only -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/bootstrap/tour/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/tour/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/tour/css/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/tour/css/jquery.fancybox.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/tour/fonts/icomoon/style.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/tour/fonts/flaticon/font/flaticon.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/tour/css/daterangepicker.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/tour/css/aos.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/tour/css/style.css}">

    <!-- 구글 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@300&family=Gamja+Flower&display=swap" rel="stylesheet">

</head>
<body>
<!-- 네비바 (네비바안에 내용 레이아웃 들어 있음) -->
<div th:replace="fragments/navbar::navbar"></div>
<div th:replace="fragments/footer::footer"></div>

<script th:src="@{/bootstrap/tour/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/bootstrap/tour/js/popper.min.js}"></script>
<script th:src="@{/bootstrap/tour/js/bootstrap.min.js}"></script>
<script th:src="@{/bootstrap/tour/js/owl.carousel.min.js}"></script>
<script th:src="@{/bootstrap/tour/js/jquery.animateNumber.min.js}"></script>
<script th:src="@{/bootstrap/tour/js/jquery.waypoints.min.js}"></script>
<script th:src="@{/bootstrap/tour/js/jquery.fancybox.min.js}"></script>
<script th:src="@{/bootstrap/tour/js/aos.js}"></script>
<script th:src="@{/bootstrap/tour/js/moment.min.js}"></script>
<script th:src="@{/bootstrap/tour/js/daterangepicker.js}"></script>

<script th:src="@{/bootstrap/tour/js/typed.js}"></script>
<script th:src="@{/bootstrap/tour/js/custom.js}"></script>
<script>
		$(function() {
			var slides = $('.slides'),
			images = slides.find('img');

			images.each(function(i) {
				$(this).attr('data-id', i + 1);
			})

			var typed = new Typed('.typed-words', {
				strings: ["함께 나눠요.", "공유 주택.", "공동 구매.", "행복을 나눠요."],
				typeSpeed: 80,
				backSpeed: 80,
				backDelay: 3000,
				startDelay: 1000,
				loop: true,
				showCursor: true,
				preStringTyped: (arrayPos, self) => {
					arrayPos++;
					console.log(arrayPos);
					$('.slides img').removeClass('active');
					$('.slides img[data-id="'+arrayPos+'"]').addClass('active');
				}

			});
		})
	</script>
</body>
</html>