<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 페이지</title>

  <!-- CSS only -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/bootstrap/assets/css/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/bootstrap/assets/vendors/iconly/bold.css}">
  <link rel="stylesheet" th:href="@{/bootstrap/assets/vendors/perfect-scrollbar/perfect-scrollbar.css}">
  <link rel="stylesheet" th:href="@{/bootstrap/assets/vendors/bootstrap-icons/bootstrap-icons.css}">
  <link rel="stylesheet" th:href="@{/bootstrap/assets/css/app.css}">
  <link rel="shortcut icon" th:href="@{/bootstrap/assets/images/favicon.svg}" type="image/x-icon">

  <!--   구글 폰트-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@300&family=Gamja+Flower&family=Gowun+Batang&display=swap" rel="stylesheet">

</head>
<body>
  <!-- 사이드바 (사이드바안에 내용 레이아웃 들어 있음) -->
  <div th:replace="fragments/sidebar::sidebar"></div>



  <script th:src="@{/bootstrap/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
  <script th:src="@{/bootstrap/assets/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/bootstrap/assets/vendors/apexcharts/apexcharts.js}"></script>
  <script th:src="@{/bootstrap/assets/js/pages/dashboard.js}"></script>
  <script th:src="@{/bootstrap/assets/js/main.js}"></script>
</body>
</html>