<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  	<title>로그인</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta th:if="${_csrf}" name="_csrf" th:content="${_csrf.token}"/>
	<meta th:if="${_csrf}" name="_csrf_header" th:content="${_csrf.headerName}"/>
	<meta th:if="${_csrf}" name="_csrf_parameter" th:content="${_csrf.parameterName}"/>

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" th:href="@{/bootstrap/login/css/style.css}">

	<!--구글 폰트-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@300&family=Gamja+Flower&display=swap" rel="stylesheet">

	<!-- sweet alert	-->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
	<body class="img js-fullheight" style="background-image: url(/bootstrap/login/images/bg.jpg);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section"></h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
						<br>
				<a href="/">
		      		<h3 style="font-family: 'Gamja Flower', cursive;" class="mb-4 text-center">슬기로운 1인생활</h3>
				</a>
				<form method="post" action="/members/login" class="signin-form">
		      		<div class="form-group">
		      			<input name="email" type="email" class="form-control" placeholder="email">
		      		</div>
	            <div class="form-group">
	              <input id="password-field" name="password" type="password" class="form-control" placeholder="Password">
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>

<!--				<p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>-->

	            <div class="form-group">
	            	<button class="form-control btn btn-primary submit px-3">로그인</button>
	            </div>


	            <div style="margin-top:25px;" align="center">
					<a href="/members/new" style="color: #fff">회원가입</a>&nbsp|&nbsp
					<a href="#" style="color: #fff">아이디 찾기</a>&nbsp|&nbsp
					<a href="#" style="color: #fff">비밀번호 찾기</a>

<!--	            	<div class="w-50">-->
<!--						<div class="w-60 text-md-right">-->
<!--							<a href="#" style="color: #fff">회원가입</a>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="w-50">-->
<!--						<div class="w-60 text-md-right">-->
<!--							<a href="#" style="color: #fff">아이디 찾기</a>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="w-50">-->
<!--						<div class="w-60 text-md-right">-->
<!--							<a href="#" style="color: #fff">비밀번호 찾기</a>-->
<!--						</div>-->
<!--					</div>-->




				</div>
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	          </form>
<!--	          <p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>-->
<!--	          <div class="social d-flex text-center">-->
<!--	          	<a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>-->
<!--	          	<a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Twitter</a>-->
<!--	          </div>-->
		      </div>
				</div>
			</div>
		</div>
	</section>


	<!--  sweet alert-->
	<script th:inline="javascript">

		var message = [[${loginErrorMsg}]];
		if(message !== null){
			swal('로그인 실패!', message, 'warning');
		}

   </script>

	  <script th:src="@{/bootstrap/login/js/jquery.min.js}"></script>
	  <script th:src="@{/bootstrap/login/js/popper.js}"></script>
	  <script th:src="@{/bootstrap/login/js/bootstrap.min.js}"></script>
	  <script th:src="@{/bootstrap/login/js/main.js}"></script>

	</body>
</html>

