<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<div th:fragment="navbar">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icofont-close js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <nav class="site-nav">
        <div class="container">
            <div class="site-navigation">
                <a href="/"  class="logo m-0"><span style="font-family: 'Gaegu', cursive; font-size:40px;">WISE.</span></a>

                <ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right">
                    <li class="active"><a href="index.html">쇼핑</a></li>
                    <li class="has-children">
                        <a href="#">생활정보</a>
                        <ul class="dropdown">
                            <li><a href="/location/home">위치 정보</a></li>
                            <li><a href="#">지원 정보</a></li>
                            <li><a href="#">소식</a></li>
                        </ul>
                    </li>

                    <li><a href="about.html">커뮤니티</a></li>

                    <li sec:authorize="isAnonymous()">
                        <a href="/members/login">로그인</a>
                    </li>
                    <li class="has-children" sec:authorize="hasAnyAuthority('ROLE_USER')">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                        </a>
                        <ul class="dropdown">
                            <li><a href="elements.html">마이페이지</a></li>
                            <li><a href="/members/logout">로그아웃</a></li>
                        </ul>
                    </li>

                    <li class="has-children" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                        </a>
                        <ul class="dropdown">
                            <li><a href="/admin/Home">관리자 페이지</a></li>
                            <li><a href="/members/logout">로그아웃</a></li>
                        </ul>
                    </li>

<!--                    <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">-->
<!--                        <a href="/admin/Home">관리자페이지</a>-->
<!--                    </li>-->


                </ul>

                <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
                    <span></span>
                </a>

            </div>
        </div>
    </nav>



    <th:block layout:fragment="content" class="content"></th:block>
</div>
</html>